@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button id="SalaryNav" class="btn btn-primary"><span class="glyphicons glyphicons-money"></span>Salaries</button>
        </div>
        <div class="col-md-6">
            <button id="EmployeesNav" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>Employees</button>
        </div>
    </div>
</div>
<script>
    (function() {
        $(document).ready(function() {
            $('#SalaryNav').on('click', function () { window.location = "/salary" });
            $('#EmployeesNav').on('click', function () { window.location = "/employee" });
        });
    })()
</script>